<div class="title">
  <h2 *ngIf="queue.status == 'starting'" class="title-ranking">SIGNED IN LIST</h2>
  <h2 *ngIf="queue.status == 'started'" class="title-ranking">RANKING</h2>

</div>
<section class="leaderboard">
    <table *ngIf="participants.length >0"  class="leaderboard-table">
        <tr>
          <th>Pos.</th>
          <th>QMoney User</th> 
          <th>Summoner Name</th>
          <th>ELO</th>
          <th>OP.GG</th>
          
        </tr>
        <tr class="tableRows" *ngFor="let user of participants ;let i = index">
          <ng-container *ngIf="user.rankedInfo">
            <ng-container>
              <td>{{i+1}}</td>
              <td class="soloqField"><img class="avatar" *ngIf="user.avatar" src="{{user.avatar}}"><img *ngIf="!user.avatar" src="../../assets/icons/user.png">{{user.nickname}}</td>
              <td>{{user.linkedAccount.summonerName}}</td>
              <td>{{user.rankedInfo.tier}} {{user.rankedInfo.rank}} {{user.rankedInfo.leaguePoints}}LP</td>
              <td><a href="{{getOpgg(user.linkedAccount.summonerName)}}"><span class="opgg">OPGG</span></a></td>
            </ng-container>
          </ng-container>
        </tr>
      </table>
</section>