
.leaderboard{
    display: flex;
    justify-content:center;
    margin-top: 6vh;
    margin-bottom: 6vh;

}
.leaderboard-table{
    width: 64vw;
    text-align: center;
}
.opgg{
    color: #c05b5b !important;
    font-weight: 600;
    text-decoration: inherit;
}
th{
    color: #cacaca;
    font-size: 22px;
}

.title-ranking{
    text-align: center;
    font-family: "KoHo", sans-serif !important;
    animation: neon .08s ease-in-out infinite alternate;
    color: #7fffd4;
    font-weight: bold  !important;
    letter-spacing: 20px;
    font-size: 40px !important;


text-shadow: 0 0 5px rgba(255, 255, 255, 0.719), 0 0 10px rgba(255, 255, 255, 0.658), 0 0 15px rgba(255, 255, 255, 0.719), 0 0 20px #4aff1877, 0 0 20px #4aff1891;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px #1e84f2eb,
      0 0 34px #1e84f2c7,
      0 0 54px #1e84f2eb;
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  .title{
      margin-top: 5vh;
      margin-bottom: 2vh;
  }
  .soloqField{
    padding-left: 2vw;
    text-align: justify;
      img{
          margin-right: 8px;
      }
  }
  table{
    text-align: justify;
    border-radius: 11px;
    background-color: #000000;
  }
  .tableRows{
    border-radius:11px;
    border-bottom-width: medium;
  }
  .avatar{
    width:45px;
    height:auto;
    border-radius: 50%;
  }