<!-- <section class="friends">
    <div [formGroup]="searchForm" class="search">
        <h3>Add a friend!</h3>
        <p>Type the nickname</p>
        <input formControlName="searchText" id="searchText" type="text" class="searchBar">
        <button (click)="searchFunction()" class="" [disabled]="!searchForm.valid"  class="btnSearch">SEARCH</button>
    </div>
    <br>
    <div class="nickname-list">
        <div *ngFor="let item of sortedSearchList | slice:0:6; let i=index" >
            <span class="nickname-item">
                {{item}}
                <button  class="btn-addfriend" (click)="sendFriendReq(item)">ADD FRIEND</button>
            </span>
        </div>
    </div>

    


</section> -->
<section class="notImplemented">
    <h2>THIS FEATURE WILL BE IMPLEMENTED IN FUTURE VERSIONS</h2>
</section>