section{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction: column;
}
.search{
    text-align: center;
}

.searchBar{
    width:40vw;
    height:40px;
    background-color: #212529;
    color: aquamarine;

}

.btnSearch:enabled{
    margin-left: 20px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
&:hover{
    background-color: rgb(45, 87, 73);
    color: white !important;
}
}
.btnSearch:disabled{
    margin-left: 20px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #a8abaf;
    color: #000000 !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.nickname-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top:30px
    
    
}
.nickname-item{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom :15px;
    padding-top: 15px;
    background-color:#212529;
    color: #c05b5b !important;
    font-weight: 400;
    border-radius: 7px;
    text-align: center;

    &:hover{
        background-color: #414850;
        color: white !important;
    }
    display: flex;
    flex-direction: column;
    

}
.btn-addfriend {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    background-color:#000000;
    color: white;
    border-style: none;
    font-weight:500;
    &:hover{
        background-color:#7fffd493;
        color:black;
        font-weight:600

    }

}


.notImplemented{
    text-align: center;
    margin-top: 8vh;
    h2{
        color: #8b0000;
        letter-spacing:2px
    }
}