// .nav-page{
//     text-align: center;
//     margin-left: 80px;
//     text-decoration: none;
//     color: #7fffd4;
//     margin-left: 80px;
//     font-size: 18px;
//     letter-spacing: 4px;
//     width: max-content;

// }
// a:hover {
//     color: #ffa500;
//     cursor: pointer;
//   }
// .nav-pages{
//     padding-right: 200px;
// }
// .navbar-brand{
//     margin-left: 30px;
//     color: #7fffd4;
//     letter-spacing: 9px;

//     font-weight: bold;
// }
// .logoutSvg:hover {
//     fill: #662a25;
    
//   }




// new navbar css


.navbarSoloq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    flex-wrap: nowrap;
    height: 54px;
    overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
    
}

.nav-page{
    text-align: center;
    margin-left: 80px;
    text-decoration: none;
    color: #7fffd4;
    margin-left: 80px;
    font-size: 18px;
    letter-spacing: 4px;
    width: max-content;

}
.navItems{
    margin-right: 4vw;
    height:50px;
    align-items: center;
    display: flex;
}
a:hover {
    color: #ffa500;
    cursor: pointer;
  }

.soloqBanner{
    margin-left: 30px;
    color: #7fffd4;
    letter-spacing: 9px;
}