<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">SOLOQMONEY</a>
    <div class="d-flex nav-pages">
      <a class="nav-page" routerLink="/home">Home</a>
      <a class="nav-page" href="/profile">Profile</a>
      <a class="nav-page" href="/soloq">My Solo Queues</a>
      <a class="nav-page" (onclick)="logOut()">
        <svg  (click)="logOut()" class="logoutSvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><path  d="M14 19v-.083c-1.178.685-2.542 1.083-4 1.083-4.411 0-8-3.589-8-8s3.589-8 8-8c1.458 0 2.822.398 4 1.083v-2.245c-1.226-.536-2.576-.838-4-.838-5.522 0-10 4.477-10 10s4.478 10 10 10c1.424 0 2.774-.302 4-.838v-2.162zm4-9.592l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7z"/></svg>
      </a>
    </div>

  </div>
</nav> -->

<!-- new navbar -->

<nav class="navbarSoloq">
  <div class="soloqBanner">
    <h1>SOLOQMONEY</h1>
  </div>
 <div class="navItems">
    <a class="nav-page" routerLink="/home">Home</a>
    <a class="nav-page" href="/profile">Profile</a>
    <a class="nav-page" href="/soloq">My Solo Queues</a>
    <a class="nav-page" (onclick)="logOut()"></a>
 </div>
</nav>