<section class="login">
  <div class="container-fluid container-md">
    <div class="login-cont container align-middle">
      <form [formGroup]="login">
        <div class="d-flex justify-content-center ">
          <img  src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Tabby_cat_with_blue_eyes-3336579.jpg">
        </div>
        
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Email address</label>
            <input type="email" class="form-control" formControlName="email" id="emailLogin" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="passwordLogin">
          </div>
          <div class="d-flex justify-content-center form-entry ">
            <button  type="button" matRipple class="btn btn-primary" (click)="loginMethod()">LOGIN</button>
        
        </div>
        <hr>
        <div class="mb-3 text-center">
          Sign in with: GOOGLE
        </div>
        <div class="mb-3 text-center">
          <a class="signUpText" routerLink="/register">Don't have an account yet?<br> Sign up!</a>
        </div>
        </form>

  </div>
  </div>
   
</section>