.login-cont{
    background-color: #212529;
    width: 450px;
    border-radius: 2em;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

   
}
form{
    padding: 40px;
}
section{
    padding-top: 125px;
    padding-bottom: 2px;
}

.btn-primary{
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    margin-top: 20px !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

button:hover {
    background-color: rgb(45, 87, 73);
    color: white !important;
  }
.login{
    letter-spacing: 2px;
}
.form-control{
    font-weight: bold !important;
}
img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #519b8e;
}
.mb-3{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.signUpText{
    text-decoration: none;
    color: #c05b5b;
}