<section class="countdown">
    <div *ngIf="queue.status == 'starting'" class="timer">
        <h3>THE SOLOQ STARTS IN :</h3>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs 
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div>
    <div *ngIf="queue.status == 'started'" class="timer">
        <h3>THE SOLOQ FINISHES IN :</h3>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs 
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div>
    <div *ngIf="queue.status == 'finished'" class="timer">
        <h3>THE SOLOQ HAS FINISHED</h3>
    </div>
</section>
