.itemDetail{
    display:flex;
    flex-direction:column;
    align-items: center;
    color: #e0e0e0;
    font-size: 20px;
    td{
        text-align:end;
        border-bottom: solid;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    th{
        text-align:start;
        border-bottom: solid;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    table{
        height: 13vh;
        width: 30vw;
    }

}
.title{
    h3{
        font-size:3em !important;
        font-weight: bold !important;
        margin-top: 3vh;
    }
}
.summaryList{
    margin-top: 5vh;
}