<div class="d-flex justify-content-end" >
    <svg version="1.1" style="cursor:pointer;" mat-dialog-close id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"> <path style="fill:#f84a4a;" d="M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539
        l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539
        c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0
        c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z"/></svg>
</div>
<section class="itemDetail">
    <div class="title">
        <h3>PURCHASE SUMMARY</h3>
    </div>
    <div class="summaryList">
        <table>
            <tr>
                <th>SOLOQMONEY User:</th>
                <td><img *ngIf="currentUser.avatar" src="{{currentUser.avatar}}"><img *ngIf="!currentUser.avatar" src="../../assets/icons/user.png">{{currentUser.nickname}}</td>
            </tr>
            <tr>
                <th>Item:</th>
                <td>SOLOQ {{queue.title}} TICKET</td>
            </tr>
            <tr>
                <th>Quantity:</th>  
                <td>x 1</td>      
            </tr>  
            <tr>
                <th>Price:</th>
                <td>{{queue.entryFee}} €</td>
            </tr>
        </table>
    </div>
    <app-payment [user]="currentUser" [queue]="queue"></app-payment>
</section>

