.queueDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    padding-top: 60px;

}
.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    h1{
        letter-spacing:5px;
        font-size: 4em;
        font-weight:bold;
        color: #fff;
        background-color: #333;
        text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    }
    img{
        width:25%;
        height:auto;
        align-self: center;
    }
}
.description{
    display: flex;
    width: 60%;
    text-align: center;
    p{
        font-size: 18px;
    }
}

.enter-queue:enabled{
    font-size: 2em !important;
    margin-top: 5vh;
    width: 50vw;
    height: 10vh;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #da5858 ;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    &:hover{
        background-color: #2d5749;
        color: white;
    }
}
.enter-queue:disabled{
    width: 30vw;
    height: 10vh;
    margin-top: 10px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #a8abaf;
    color: #000000 !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.timer{
    text-align: center;
    h2{
        color:#da5858;
        text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);

    }
}

.error-queue{
    display:flex;
    justify-content:center;
    flex-direction: column;
    text-align:center;
    
    h2{
        color: #da5858;
        margin-top:30vh;
        letter-spacing: 4px;
    }
    h3{
        color: #da5858;
    }

}

app-leaderboard{
    margin-top:6vh;
    margin-bottom: 6vh;
}
.rules{
    width:60vw;
    margin-top: 5vh;
    ul{
        list-style: inside;
        background-color: #2f4f4f;
        padding: 30px;
        border-radius: 50px;
    }
    li{
        font-size: 20px;
        color: #cacaca;
    }
    h3{
        margin-bottom: 1vh;
        text-align:center;
        font-size: 30px;
        color: #c04646;
        text-decoration-line: underline;
        font-weight: bold !important;
    }
}
.rulesUnderline{
    text-decoration: underline;
}