<app-navbar></app-navbar>
<h2>hola</h2>
<section *ngIf="queue != null"class="queueDetail">
    <div class="title">
        <h1>SOLOQ {{queue.title}}</h1><img src="../../assets/icons/silverIcon.png">
    </div>
    <div class="description">
        <p>Welcome to the <strong>{{queue.title}}</strong> division. The goal of this challenge is to rise among others and be in the 1st place by the end of the challenge. You can always check how much time is left on this page.</p>
    </div>
    <div class="rules">
        <h3>RULES AND SOLOQ DESCRIPTION</h3>
        <ul class="rulesList">
            <li>SMURFING IS NOT ALLOWED. USERS WHO SMURF WILL BE DISQUALIFIED </li>
            <hr>
            <li>You can only enter the soloq if your rank is {{queue.title}} when the soloq starts. If your rank is different than {{queue.title}}, you will be disqualified and you will get an st (soloq ticket) that will allow you to enter a new soloq that has the same entry ticket fee.(See: <span >Profile -> My Solo Queues -> SoloQTickets</span>)</li>
            <hr>
            <li><strong><span class="rulesUnderline">MIN PLAYERS : {{queue.minEntries}}</span></strong> <br>If the minimum players is not accomplished, you will get an st (soloq ticket) that will allow you to enter a new soloq that has the same entry ticket fee (See: <span >Profile -> My Solo Queues -> SoloQTickets</span>) </li>
            <hr>
            <li><strong><span class="rulesUnderline">MAX PLAYERS : {{queue.maxEntries}}</span></strong></li>
            <hr>
            <li><strong><span class="rulesUnderline">TICKET FEE : {{queue.entryFee}} €</span></strong> </li>
            <hr>
            <li><strong><span class="rulesUnderline">WIN PRIZE 1st POSITION : {{queue.winPrize}}€</span></strong></li>


        </ul>
    </div>
    
    <div class="timer">
        <app-count-down [queue]="queue"></app-count-down>
    </div>
    <button id="btnTicket" [disabled]="buttonDisable()" (click)="openLinkedAccountDialog()" class="enter-queue">{{buttonText()}}</button>

</section>
<app-leaderboard class="leaderboardApp" [queue]="queue"></app-leaderboard>

<!-- Error handler -->
<section *ngIf="queue == null" class="error-queue">
    <h2>An error has occurred</h2>
    <h3>Please, <strong>select a new Queue</strong></h3>
    
</section>
