<app-navbar></app-navbar>
<section class="page-header">
    <h3 >JOIN A QUEUE</h3>

</section>

<section class="queues">
    <div *ngFor="let queue of tournamentList" (click)="queueDetail(queue)" class="tournament-item">
        <small>{{queue.signedUp.length}}/{{queue.maxEntries}}</small>
        <strong>{{queue.title}}</strong><br><br>
        Entry Ticket:
        <br>
        {{queue.entryFee}}€
        <br>
        <br>
        Max. Prize Pool: 200€
    </div>
    
</section>
