.queues{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tournament-item{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    border-radius: 6px;
    background-color: #212529;
    border: aquamarine solid 2px;
    height: auto;
    text-align: center;
    // padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
        background-color: #394047;
        border: red solid 2px;
        cursor: pointer;
    }

}

.btnMore{
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #c05b5b ;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    &:hover{
        background-color: #2d5749;
        color: white;
    }
}

.page-header{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 15px;
    h1{
        color: #49FF18;
        text-shadow:    0 0 20px #4aff188e, 0 0 30px #4aff1894, 0 0 40px #4aff18a4, 0 0 55px #4aff18a4, 0 0 75px #4aff18a6, -25px -24px 2px rgba(206,89,55,0);
        

    }
}
h3{
    font-family: "KoHo", sans-serif !important;
    animation: neon .08s ease-in-out infinite alternate;
    color: #7fffd4;
    font-weight: bold  !important;
    letter-spacing: 20px;
    font-size: 40px !important;


text-shadow: 0 0 5px rgba(255, 255, 255, 0.719), 0 0 10px rgba(255, 255, 255, 0.658), 0 0 15px rgba(255, 255, 255, 0.719), 0 0 20px #4aff1877, 0 0 20px #4aff1891;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px #1e84f2eb,
      0 0 34px #1e84f2c7,
      0 0 54px #1e84f2eb;
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  small{
      padding: 5px;
      display: block;
      text-align: right;
      padding-bottom: 20px;

  }