<section  class="payment">

    <div *ngIf="paidFor">
        THANKS FOR YOUR PURCHASE
    </div>
    
    <div  #paypal></div>
    <div *ngIf="error">
        <h1 style="color:red">ERROR ON THE PAYMENT, PLEASE TRY AGAIN LATER</h1>
    </div>
    <div class="paymentSuccess" *ngIf="paidFor"> 
        <h1>PAYMENT SUCCESFUL</h1>
        <img src="../../assets/icons/checkMarkGreen.png" width="120px" height="auto">
        <h2>You will be redirected...</h2>
    </div>
    
</section>
