<app-navbar></app-navbar>
<section class="d-flex full-page">
  <nav class="sidebarNew">
    
      <a class="sidebar-item"  (click)="selectSectionTab('statistics')" routerLInk="">Statistics</a>
      <a class="sidebar-item" (click)="selectSectionTab('friends')" >Friends</a>
      <a class="sidebar-item" (click)="selectSectionTab('account')">Account</a>
      
  </nav>
  <div class="content">
    <app-account *ngIf="selectSection == 'account'"></app-account>
    <app-friends *ngIf="selectSection == 'friends'"></app-friends>
    <app-statistics *ngIf="selectSection == 'statistics'"></app-statistics>

  
  </div>
</section>