.full-page{
  height: calc(100vh - 56px);
  padding-left: 15vw;
}
.sidebar{
  padding-top: 30px;
  width: 300px;
  position: relative;
  background-color: #212529;
}

.sidebar-item{
  //font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
  letter-spacing: 5px;
  color: aquamarine;
  text-decoration: none;
  text-align: center;
    background: #212529;
    padding-top: 20px;
  
    padding-bottom: 20px;
    
}
a:hover{
  background-color: #406d6d !important;
  color: #ffa500;
  cursor: pointer;
}

.navbar{
  position:absolute !important;
  top: 0; /* Position the navbar at the top of the page */
  overflow: hidden;
}
.content{
  width: 100%;
  padding: 30px;

}
.sidebarNew{

  display:flex;
  flex-direction: column;
  width: 15vw;
  background-color: #212529;
  height:100% !important;
  position: fixed;
  z-index: 1;
  top: 54px;
  left: 0;



}