/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,700;1,700&display=swap');
body{
    font-family: "KoHo", sans-serif;
    background-color: #2f2f33;
    color: aquamarine;
}
html {
    scroll-behavior: smooth;
  }
html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h3{
  font-weight: 300 !important;
}


//DIALOG

.mat-dialog-container {
  background: #212529!important;
}

//mat select panel
.mat-select-panel{
  background: #212529 !important;
}
.mat-option.mat-active {
  background: #ffffff !important
  
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000000;
}
.mat-select-value {
  color: #7fffd4 !important
}

.mat-select-arrow {
  color: #fefefe;
}
html{
  position: relative;
  min-height: 100%;

}
body{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 60px;
}

.footer{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #212529;
}
.content{
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}