.home{
    width: max-content;
    margin-left: 150px;
    margin-right: 150px;
    background-color: dimgray;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 80%; 
    min-height: 80%;
  }