<section class="account">
        <div class="account-details d-flex justify-content-center">
            <img class="avatar" *ngIf="userData.avatar" src="{{userData.avatar}}"><img class="avatar" *ngIf="!userData.avatar" src="../../assets/icons/userIcon256.png"><h2 class="nickname">{{userData.nickname}}</h2>
        </div>
        <hr>
        <div class="linked-account">
            <h3>Linked League of Legends account:</h3>
            <div *ngIf="userData.linkedAccount != null">
                <h4 >Summoner Name: </h4><p>{{userData.linkedAccount.summonerName}}</p>
            </div>
            <div *ngIf="userData.linkedAccount != null">
                <h4>Region: </h4><p>{{userData.linkedAccount.region}}</p>
            </div>
            <div *ngIf="userData.linkedAccount == null">
                <p>No accounts linked</p><button (click)="openLinkedAccountDialog()" class="btnLinkAccount">LINK ACCOUNT</button>
                
            </div>
        </div>
        
        <hr>
        <form [formGroup]="nicknameForm">
            <div class="change-nickname">
                <h3>Change nickname</h3><input class="input-nickname" type="text" formControlName="nickname" id="nickname" aria-describedby="nicknameHelp">
                <button class="btnNickname" [disabled]="!nicknameForm.valid" (click)="changeNickname()">APPLY</button>

            </div>
            <!-- <div id="nickname" class="form-text">You will be logged out. Your username will change once you log in again.</div> -->
        </form>
        <hr>
        <div class="change-avatar">
            <h3>Change Profile Avatar</h3>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)" accept=".jpg, .png, .jpeg|image/*">
        </div>
        <button style="margin:0;margin-top: 10px;"  (click)="uploadProfileIcon()" [disabled]="!fileToUpload" class="btnNickname">UPLOAD</button>

        <hr>
        <form [formGroup]="assistService">
            <div class="asisst-service">
                <h3>Send feedback or ticket: </h3>
            </div>
            <div class="asisst-service">
               <textarea formControlName='textTicket' rows="4" cols="50"></textarea>
            </div>
            <small>Min. 20 characters</small><br>
            <small>Max. 200 characters</small><br>
            <!-- <div id="nickname" class="form-text">You will be logged out. Your username will change once you log in again.</div> -->
            <button  class="btnTicket" (click)="sendTicket()" [disabled]="!assistService.valid">SEND TICKET</button>
        </form>
    
        
</section>