
.nickname{
    text-align: center;
    margin-left: 70px;
}
.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255) 1px;
}
.account-details{
    align-items: center;
}
.account{
    margin-top: 40px;
}
.linked-account{
    
    margin: 0;
    padding: 0;
}
.change-nickname{
    display: inline-flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    flex-direction: row;
}
.input-nickname{
    margin-left: 30px;
    background-color: #212529;
    border-radius: 8px;
    color: #7fffd4;
}
.btnNickname:disabled{
    margin-left: 20px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #a8abaf;
    color: #000000 !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.btnLinkAccount{
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.btnLinkAccount:hover{
    background-color: rgb(45, 87, 73);
    color: white !important;
}





.btnNickname:enabled{
    margin-left: 20px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
&:hover{
    background-color: rgb(45, 87, 73);
    color: white !important;
}
}

.btnTicket:disabled{
    margin-top: 10px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #a8abaf;
    color: #000000 !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.btnTicket:enabled{
    margin-top: 10px;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
&:hover{
    background-color: rgb(45, 87, 73);
    color: white !important;
}
}
textarea{
    font-weight: 200;
    background-color: #212529;
    color: #7fffd4;
}
p{
    color: #ffa500;
    font-size: 20px;

}
.change-avatar{
    display: flex;
    flex-direction: column;
}