.mat-dialog-container{
    background-color: rgb(25, 58, 87) !important;
}
mat-label{
    color: #ffffff;
}
h2{
    color: #7fffd4 !important;

    margin-bottom: 1vw;
}
mat-option{
    color: #7fffd4;
}
input{
    font-weight: bold !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
h3{
    color: #7fffd4 !important;
    
}
small{
    color: #c3483d !important
}
.m-t-20{
    margin-top: 20px;
}

.btnLinkAccount{
    margin-top: 1vw;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    &:hover{
    background-color: #65a18d;
    color: white !important;
    }
}
.btnLinkAccount:disabled{

    margin-top: 1vw;
    border-radius: 2px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: #a8abaf;
    color: #000000 !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #d4d4d4;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.errorSummNoExist{
    color:rgb(202, 67, 67);
    letter-spacing: 2px;
}
h4{
    color: #7fffd4 !important;
    font-weight: 300;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-20{
    padding-right: 20px;
}
h1{
    color: #7fffd4 !important;
    font-weight: 500;
}