<div class="d-flex justify-content-end" >
    <svg version="1.1" style="cursor:pointer;" mat-dialog-close id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"> <path style="fill:#f84a4a;" d="M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539
        l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539
        c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0
        c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z"/></svg>
</div>
<div class="d-flex justify-content-center">
    <h2>Link your League Of Legends account.</h2>
    
</div>
<div class="d-flex justify-content-center">
    <mat-form-field appearance="fill">
        <mat-label >Select a Region*</mat-label>
        <mat-select [(value)]="region">
          <mat-option value="euw1">EUW</mat-option>
          <mat-option value="eun1">EUNE</mat-option>
          <mat-option value="na1">NA</mat-option>
          <mat-option value="la1">LAN</mat-option>
          <mat-option value="la2">LAS</mat-option>
        </mat-select>
      </mat-form-field>
      
</div>
<form [formGroup]="linkAccountForm">
    <div style="align-items: center;" class="d-flex flex-column  justify-content-center">
        <h3 class="m-t-20">ENTER YOUR SUMMONER NAME :</h3>
    
    </div>

    <div class="d-flex justify-content-center m-t-20">
        <input type="text" formControlName="summonerName" id="summonerName" aria-describedby="summonerName" type="text"  class="input-style">
    </div>
    <div *ngIf="summonerExist == false" class="d-flex justify-content-center m-t-20">
        <strong><small class="errorSummNoExist">The summoner doesn't exist.</small></strong>
    </div>
    <div *ngIf="summonerExist == false" class="d-flex justify-content-center m-t-20">
        <small class="errorSummNoExist">Please make sure your REGION and SUMMONER NAME are correct.</small>
    </div>

    <div class="d-flex justify-content-center">
        <button  [disabled]="!linkAccountForm.valid" (click)="linkAccount()" class="btnLinkAccount">SEARCH SUMMONER</button>
    </div>
</form>

<div *ngIf="summonerExist == true" class="d-flex justify-content-center m-t-20 p-l-20 p-r-20">
    <h4> In order to verify your account. Please change your League of Legends Icon to the following one and click <strong>DONE.</strong></h4>
</div>

<div *ngIf="summonerExist == true" class="d-flex justify-content-center m-t-20">
    <img width="120px" height="auto" src="../../assets/IconsLoL/{{iconId}}.png">
</div>
<div *ngIf="summonerExist == true" class="d-flex justify-content-center m-t-20 ">
    <button (click)="checkIconChanged()" class="btnLinkAccount">DONE</button>
</div>
<div *ngIf="verified == true" class="d-flex justify-content-center m-t-20 ">
    <h2>YOUR ACCOUNT HAS BEEN VERIFIED</h2>
</div>
<div *ngIf="verified == true" class="d-flex justify-content-center">
   <img src="../../assets/icons/checkMarkGreen.png" width="120px" height="auto">
</div>


