.title-register{
    font-family: "KoHo", sans-serif !important;
    color: #7fffd4;
    font-weight: bold;
    letter-spacing: 20px;
    font-size: 10em;
    margin-top: 100px;

text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 30px #4aff1877, 0 0 35px #4aff1891;
}
h3{
    font-family: "KoHo", sans-serif !important;
    animation: neon .08s ease-in-out infinite alternate;
    color: #7fffd4;
    font-weight: bold;
    letter-spacing: 20px;


text-shadow: 0 0 5px rgba(255, 255, 255, 0.719), 0 0 10px rgba(255, 255, 255, 0.658), 0 0 15px rgba(255, 255, 255, 0.719), 0 0 20px #4aff1877, 0 0 20px #4aff1891;
}


@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  
.arrow{
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.subtitle{
    margin-top: 150px;
}
.register-form{
    margin-top: 600px;

}

html {
    scroll-behavior: smooth;
  }

  .register-form{
    width: 700px;
    padding-bottom: 40px;}

.btn-primary{
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #212529;
    color: #c05b5b !important;
    text-shadow: 0 0 5px rgba(73, 2, 2, 0.719), 0 0 10px rgba(46, 0, 0, 0.658), 0 0 15px rgba(56, 0, 0, 0.719), 0 0 30px #94090477, 0 0 55px #94090477(46, 4, 4, 0.569);
    border-color: #7fffd4;
    margin-top: 20px !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.form-entry{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

button:hover {
    background-color: rgb(45, 87, 73);
    color: white !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }
.register{
    letter-spacing: 2px;
}
.form-control{
    font-weight: bold !important;
}
.arrow:hover{
    cursor: pointer;
}
.logInHere h5{
    color: #c05b5b ;
    margin-top: 20px;
    font-size: 1em;
    
}
a{
    text-decoration: none;

}
@media only screen and (max-width: 1300px){
    .title-register{
        display: none;
    }

}