<section class="register">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title-register text-center">SOLOQMONEY</h1>
          </div>
            <div class="col-md-12">
              <h3 class=" subtitle text-center">REGISTER HERE</h3>
            </div>
           
        </div>

       
        <div class="arrow">
            <a id="pre-register" (click)=scrollDown()>
            <span></span>
            <span></span>
            <span></span>
        </a>
        </div>
        <div id="register-form" class="register-form container">
            <form [formGroup]="register"  >
              <div class="mb-3 form-entry">
                <label for="nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control" id="nickname" aria-describedby="nickname"  formControlName="nickname">
                <div id="nickname" class="form-text">You'll be able to change your nickname later</div>
              </div>
                <div class="mb-3 form-entry">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email">
                  <div id="emailHelp" class="form-text">Make sure this email adress is valid, we will send you a verification code.</div>
                </div>
                <div class="mb-3 form-entry">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password"  formControlName="password" >
                </div>
                <div class="mb-3 form-entry">
                  <label for="repassword" class="form-label">Confirm password</label>
                  <input type="password" class="form-control" id="repassword"  formControlName="repassword">
                </div>
                <div class="d-flex justify-content-center form-entry ">
                    <button  type="button" class="btn btn-primary" (click)="newUser(register.value)" value="Registrarse">REGISTER</button>
                
                </div>
              </form>
              <div class="d-flex justify-content-center">
                <a class="logInHere" routerLink="/login"><h5>Already have an account? Log In here!</h5></a>
              </div>
        </div>
        
        
    </div>



</section>
